In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
pd.set_option("display.max_row",999)
pd.set_option("display.max_column",999)

In [2]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import pickle

# Load DATA

In [3]:
# Load the credit card fraud dataset
train_df = pd.read_csv("application_train.csv")
# train_df.head(3)

In [4]:
train_df.shape

(307511, 122)

In [5]:
# train_df.info()

In [6]:
# # vérifier s'il y a des valeurs manquantes.
# plt.figure(figsize=(20,10))
# sns.heatmap(train_df.isna(),cbar=False)

In [7]:
# # Visualisation
# train_df.dtypes.value_counts().plot.pie()

In [8]:
# vérifier les valeurs manquantes
train_df.isnull().sum().sum()

9152465

In [9]:
# # données de type objet
# train_df.select_dtypes("object").head(3)

In [10]:
len(train_df.select_dtypes("object").columns)

16

In [11]:
df=train_df.copy()
def get_missing_values(df,seuil):

    di_temp={ "Missing Tot. val.": df.isnull().sum(),
              "Missing % val.": 100*df.isnull().sum() / len(df) }
    df_temp= pd.DataFrame(di_temp)
    df_temp=df_temp[df_temp["Missing % val."] >= seuil]
    df_temp.sort_values(by=['Missing % val.'], inplace=True,ascending=False)

    return df_temp

dfm=get_missing_values(df,45)

print("Total Missing Features :",len(dfm.index))
print("Total Features :",len(df.columns))

dfm

print(df.shape)
df=df[df.columns[df.isna().sum()/df.shape[0]<0.2]]
print(df.shape)

df.dropna(inplace=True)
print(df.shape)

# # vérifier s'il y a des valeurs manquantes.
# plt.figure(figsize=(20,10))
# sns.heatmap(df.isna(),cbar=False)

for col_obj in df.select_dtypes("object").columns: 
    lb=LabelEncoder()
    df[col_obj]=lb.fit_transform(df[col_obj])

Total Missing Features : 49
Total Features : 122
(307511, 122)
(307511, 72)
(244280, 72)

In [12]:
df.shape

(244280, 72)

In [14]:
df.corr()['TARGET'][df.corr()['TARGET']>0.05]

TARGET                         1.000000
CODE_GENDER                    0.051347
NAME_EDUCATION_TYPE            0.051100
DAYS_BIRTH                     0.079128
REGION_RATING_CLIENT           0.054504
REGION_RATING_CLIENT_W_CITY    0.056531
DAYS_LAST_PHONE_CHANGE         0.051970
Name: TARGET, dtype: float64

In [15]:
df.corr()['TARGET'][df.corr()['TARGET']>0.05]

TARGET                         1.000000
CODE_GENDER                    0.051347
NAME_EDUCATION_TYPE            0.051100
DAYS_BIRTH                     0.079128
REGION_RATING_CLIENT           0.054504
REGION_RATING_CLIENT_W_CITY    0.056531
DAYS_LAST_PHONE_CHANGE         0.051970
Name: TARGET, dtype: float64

In [16]:
len(df.corr()['TARGET'][df.corr()['TARGET']>0.005].index), df.corr()['TARGET'][df.corr()['TARGET']>0.005].index

(27,
 Index(['TARGET', 'CODE_GENDER', 'CNT_CHILDREN', 'NAME_TYPE_SUITE',
        'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_HOUSING_TYPE',
        'DAYS_BIRTH', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_EMP_PHONE',
        'FLAG_WORK_PHONE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
        'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
        'REG_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
        'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
        'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
        'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
        'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_3',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object'))

In [17]:
df=df[df.corr()['TARGET'][df.corr()['TARGET']>0.005].index]
df.head()

,TARGET,CODE_GENDER,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,1,0,6,6,4,1,-9461,-3648.0,-2120,1,0,1.0,2,2,0,0,0,0,0,2.0,2.0,2.0,2.0,-1134.0,1,1.0
2,0,1,0,6,6,4,1,-19046,-4260.0,-2531,1,1,1.0,2,2,0,0,0,0,0,0.0,0.0,0.0,0.0,-815.0,0,0.0
5,0,1,0,5,3,4,1,-16941,-4970.0,-477,1,1,2.0,2,2,0,0,0,0,0,0.0,0.0,0.0,0.0,-2536.0,1,1.0
6,0,0,1,6,1,1,1,-13778,-1213.0,-619,1,0,3.0,2,2,0,0,0,0,0,1.0,0.0,1.0,0.0,-1562.0,0,2.0
7,0,1,0,6,3,1,1,-18850,-4597.0,-2379,1,1,2.0,3,3,0,0,0,1,1,2.0,0.0,2.0,0.0,-1070.0,1,0.0

In [18]:
df.shape

(244280, 27)

In [19]:
train_df[df.corr()['TARGET'][df.corr()['TARGET']>0.005].index].columns

Index(['TARGET', 'CODE_GENDER', 'CNT_CHILDREN', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_HOUSING_TYPE',
       'DAYS_BIRTH', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_3',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [20]:
trrr=pd.DataFrame(train_df[df.corr()['TARGET'][df.corr()['TARGET']>0.005].index].describe())

In [21]:
trrr.loc[['min', 'max']]

,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_YEAR
min,0.0,0.0,-25229.0,-24672.0,-7197.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4292.0,0.0,0.0
max,1.0,19.0,-7489.0,0.0,0.0,1.0,1.0,20.0,3.0,3.0,1.0,1.0,1.0,1.0,1.0,348.0,34.0,344.0,24.0,0.0,1.0,25.0

In [22]:
test=train_df[df.corr()['TARGET'][df.corr()['TARGET']>0.005].index][:3]

In [23]:
test=train_df[df.corr()['TARGET'][df.corr()['TARGET']>0.005].index][:-3]

In [24]:
test[test['TARGET']==1]

,TARGET,CODE_GENDER,CNT_CHILDREN,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,M,0,Unaccompanied,Working,Secondary / secondary special,House / apartment,-9461,-3648.0,-2120,1,0,1.0,2,2,0,0,0,0,0,2.0,2.0,2.0,2.0,-1134.0,1,1.0
26,1,F,0,Unaccompanied,Working,Secondary / secondary special,House / apartment,-18724,-6573.0,-1827,1,0,1.0,3,2,0,0,0,0,0,10.0,1.0,10.0,0.0,-161.0,1,2.0
40,1,M,0,Unaccompanied,Commercial associate,Secondary / secondary special,House / apartment,-17482,-1182.0,-1029,1,0,2.0,2,2,0,0,0,0,0,0.0,0.0,0.0,0.0,-1075.0,1,4.0
42,1,F,0,Unaccompanied,Working,Secondary / secondary special,House / apartment,-13384,-45.0,-4409,1,1,2.0,3,3,0,0,0,0,0,1.0,0.0,1.0,0.0,-1480.0,1,2.0
81,1,F,0,Unaccompanied,Pensioner,Secondary / secondary special,House / apartment,-24794,-5391.0,-4199,0,0,2.0,2,2,0,0,0,0,0,1.0,1.0,1.0,1.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307446,1,M,0,Unaccompanied,Working,Secondary / secondary special,House / apartment,-10130,-1862.0,-2772,1,0,1.0,2,1,0,0,0,0,0,0.0,0.0,0.0,0.0,-243.0,1,NaN
307448,1,M,1,Unaccompanied,Working,Secondary / secondary special,House / apartment,-9918,-8507.0,-2580,1,1,3.0,3,3,0,0,0,0,0,0.0,0.0,0.0,0.0,-324.0,0,2.0
307475,1,F,1,Unaccompanied,Working,Higher education,House / apartment,-13416,-500.0,-4704,1,1,3.0,2,2,0,0,0,0,0,0.0,0.0,0.0,0.0,-1492.0,1,6.0
307481,1,M,0,Family,Working,Secondary / secondary special,House / apartment,-20644,-8921.0,-3832,1,0,2.0,2,2,0,0,0,0,0,0.0,0.0,0.0,0.0,-2941.0,1,3.0
307489,1,F,0,Unaccompanied,Commercial associate,Secondary / secondary special,House / apartment,-16471,-8291.0,-9,1,0,2.0,2,2,0,0,0,0,0,1.0,1.0,1.0,0.0,-307.0,1,2.0

In [25]:
last_cols_noTarget=['CODE_GENDER', 'CNT_CHILDREN', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_HOUSING_TYPE',
       'DAYS_BIRTH', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_3',
       'AMT_REQ_CREDIT_BUREAU_YEAR']
len(last_cols_noTarget)
# 'TARGET',

26

# Sampling

In [35]:
from imblearn.over_sampling import RandomOverSampler

In [36]:
X = df.drop("TARGET", axis=1)
y = df["TARGET"]

In [37]:
len(X.columns)

26

In [38]:
# Random oversampling
ros = RandomOverSampler(random_state=0)
X_ros, y_ros = ros.fit_resample(X, y)
print('% des class:\n',(y_ros).value_counts().sort_values(ascending=False))

% des class:
 TARGET
1    225248
0    225248
Name: count, dtype: int64

In [39]:
(
(X_ros.shape, y_ros.shape),
)

(((450496, 26), (450496,)),)

In [40]:
print('% des class:\n',(y_ros).value_counts().sort_values(ascending=False))

% des class:
 TARGET
1    225248
0    225248
Name: count, dtype: int64

# Evaluation Function

In [41]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ks_2samp
from sklearn.model_selection import train_test_split,learning_curve
from sklearn.metrics import (f1_score, confusion_matrix, classification_report, matthews_corrcoef, roc_curve, 
                             roc_auc_score,accuracy_score, recall_score, precision_score, precision_recall_curve,
                             cohen_kappa_score, log_loss )

# LR, DT, RF, XGB, GBC, ABC

In [42]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

In [43]:
Model  = RandomForestClassifier(random_state=0)

In [44]:
print('\n=================================== RF - Manual ===================================')
X_train, X_test, y_train, y_test = train_test_split(X_ros, y_ros, test_size=0.2, random_state=0)
# Convert both sets to sets to get unique values
train_set_unique = np.array(X_train)
test_set_unique = np.array(X_test)

# Check if both sets have the same samples
if np.array_equal(train_set_unique, test_set_unique):
    print("Train set and test set have the same samples.")
else:
    print('X_train shape: ',X_train.shape, 'y_train shape: =', y_train.shape)
    print('% des class dans Y train:')
    print((y_train).value_counts().sort_values(ascending=False))
    print('% des class dans Y test:')
    print((y_test).value_counts().sort_values(ascending=False))
    class_counts = np.bincount(y_train)
    total_samples = len(y_train)
    class_weights = {i: total_samples / (len(class_counts) * count) for i, count in enumerate(class_counts)}
    sample_weights = [class_weights[y] for y in y_train]
    Model.fit(X_train, y_train, sample_weight=sample_weights)
    pickle.dump(Model, open(f'RFC.pkl', 'wb'))
    ypred = Model.predict(X_test)
    print("Train set and test set have different samples.")
    print(f"{'matthews_corrcoef':-<40}{matthews_corrcoef(y_test, ypred)*100}")
    print(f"{'f1_score':-<40}{f1_score(y_test, ypred)*100}")
    
    print(' --------------------------- Model saved ---------------------------')
print('\n=================================== RF - Done ===================================')

=================================== RF - Manual ===================================
X_train shape:  (360396, 26) y_train shape: = (360396,)
% des class dans Y train:
TARGET
1    180313
0    180083
Name: count, dtype: int64
% des class dans Y test:
TARGET
0    45165
1    44935
Name: count, dtype: int64
Train set and test set have different samples.
matthews_corrcoef-----------------------99.77162576763712
f1_score--------------------------------99.88552121191914
 --------------------------- Model saved ---------------------------

=================================== RF - Done ===================================

In [45]:
import joblib

In [46]:
joblib.dump(Model, 'Saved_Model_RF.joblib')

['Saved_Model_RF.joblib']

In [47]:
# Specify the file path where you want to save the compressed model
compressed_model_path = 'RandomForestClassifier.pbz2'

# Save the model in a compressed format using joblib
joblib.dump(Model, compressed_model_path, compress=('bz2', 9))

['RandomForestClassifier.pbz2']

In [49]:
# Specify the file path where you want to save the compressed model
compressed_model_path = 'RandomForestClassifier_10.pbz2'

# Save the model in a compressed format using joblib
joblib.dump(Model, compressed_model_path, compress=('bz2', 5))

['RandomForestClassifier_10.pbz2']

# 2 - Déploiement d'un modèle sklearn avec MLflow
### Installation avec Pip

Exécutez la commande suivante dans le terminal associé à votre environnement Python `pip install mlflow`

In [ ]:
# pip install mlflow

In [ ]:
from mlflow.models.signature import infer_signature
import mlflow.sklearn

In [ ]:
signature = infer_signature(X_train, y_train)

In [ ]:
mlflow.sklearn.save_model(Model, 'mlflow_model', signature=signature)

mlflow models serve -m mlflow_model/

    # ypred = Model.predict(X_test)
    # print("Train set and test set have different samples.")
    # print(f"{'matthews_corrcoef':-<40}{matthews_corrcoef(y_test, ypred)*100}")
    # print(f"{'f1_score':-<40}{f1_score(y_test, ypred)*100}")
    # print(f"{'accuracy_score':-<40}{accuracy_score(y_test, ypred)*100}")
    # print(f"{'confusion_matrix'}\n{confusion_matrix(y_test, ypred)}")
    # print(f"{'classification_report'}\n{classification_report(y_test, ypred)}")
    # tn, fp, fn, tp = confusion_matrix(y_test, ypred).ravel()
    # print(f"{'recall_score':-<40}{recall_score(y_test, ypred)}")
    # print(f"{'precision_score':-<40}{precision_score(y_test, ypred)}")
    # print(f"{'roc_auc_score':-<40}{roc_auc_score(y_test, ypred)}")
    # print(f"{'false_positive_rate':-<40}{fp / (fp + tn)}")
    # print(f"{'negative_predictive_value':-<40}{tn / (tn + fn)}")
    # print(f"{'cohen_kappa_score':-<40}{cohen_kappa_score(y_test, ypred)}")
    # print(f"{'gini_coefficient':-<40}{2 * roc_auc_score(y_test, ypred) - 1}")
    # print(f"{'squared_error':-<40}{((ypred - y_test) ** 2).mean()}")
    # print(f"{'log_loss_value':-<40}{log_loss(y_test, ypred)}")
    # print(f"{'precision_recall_curve'}\n{precision_recall_curve(y_test, ypred)}")
    # ks_statistic, ks_p_value = ks_2samp(ypred[y_test == 0], ypred[y_test == 1])
    # print(f"{'ks_statistic, ks_p_value':-<40}{ks_statistic, ks_p_value}")
    # # cross validation:
    # N, train_score, val_score = learning_curve(Model,X_train,y_train,cv=5,scoring='f1',
    #                                            train_sizes=np.linspace(0.1, 1, 10))
    # fpr, tpr, thresholds = roc_curve(y_test, ypred)

    # # Affichage
    # fig, axes = plt.subplots(1, 2, figsize=(8, 4))  
    # axes[0].plot(N, train_score.mean(axis=1), label='train score')
    # axes[0].plot(N, val_score.mean(axis=1), label='validation score')
    # axes[0].legend()
    # axes[1].set_title('Learning Curve')  
    # axes[1].plot([0, 1], [0, 1], 'k--', label = 'Base')
    # axes[1].plot(fpr, tpr, color = 'blue', label = 'ROC')
    # axes[1].set_xlabel('False Positive Rate')
    # axes[1].set_ylabel('True Positive Rate')
    # axes[1].set_title('ROC Curve')
    # axes[1].legend(loc='best')

    # plt.tight_layout()  
    # plt.show()